*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: white; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n) {
    border-right: none;
}
.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child{
    border-bottom: none;
}

.cell.x,
.cell.O {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.O::before {
    background-color: orangered;
}

.board.x .cell:not(.x):not(.O):hover::before,
.board.x .cell:not(.x):not(.O):hover::after,
.board.O .cell:not(.x):not(.O):hover::before {
    background-color: lightgrey;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.O):hover::before,
.board.x .cell:not(.x):not(.O):hover::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 92px;
    /* background-color: blue; */
}
.cell.x::before,
.board.x .cell:hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover::after {
    transform: rotate(-45deg);
}

.cell.O::before,
.cell.O::after,
.board.O .cell:not(.x):not(.O):hover::before,
.board.O .cell:not(.x):not(.O):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    /* background-color: blue; */
}
.cell.O::before,
.board.O .cell:not(.x):not(.O):hover::before{
    width: 88px;
    height: 88px;
    /* background-color: blue; */
}
.cell.O::after,
.board.O .cell:not(.x):not(.O):hover::after{
    width: 65px;
    height: 65px;
    background-color: white;
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show{
    display: flex;
}